* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider-content h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
}
.slider-content h3 {
  margin-top: 24px;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
}

.slider-content {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex !important;
  flex-direction: column;
  height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.A {
  background: url("../Images/homepage-banner-03-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.B {
  background: url("../Images/homepage-banner-02-sd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.C {
  background: url("../Images/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-dots {
  bottom: 50px;
}
.slick-prev {
  left: 50px;
  z-index: 999;
}
.slick-next {
  right: 50px;
}
.banner-button {
  background: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  color: #000000;
  margin-top: 42px;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.banner-button:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease 0s;
}
