@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
}
.body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  background: #fff;
  word-wrap: break-word;
  font-weight: 400;
  overflow-x: hidden;
}
